extends layout

block content
  div.container
    h3 Learning Japanese
    hr

    div.text-center
        a.btn.btn-info.btn-sm(href="/previous") Previous
        a.btn.btn-primary.btn-sm(href="/random") &nbsp;Random&nbsp;
        a.btn.btn-success.btn-sm(href="/next") &nbsp;&nbsp;Next&nbsp;&nbsp;
        if (user)
          a.btn.btn-danger.btn-sm(href="/new-word") Add New Word
    div.bs-example.bs-example-bg-classes
      h4 WORD ##{data.word_select.word_id}
      p.bg-success #{data.word_select.english}
      p.bg-primary #{data.word_select.kanji}
      p.bg-info #{data.word_select.kana}
      p.bg-warning #{data.word_select.romaji}

      div.row
        div.col-md-6
          h4 Examples
        div.col-md-6
          if (user)
            span.pull-right
              a.btn.btn-danger.btn-sm(href="/new-example") New Example
      for sentence in data.related_sentences
        p.bg-danger #{sentence.english}
        p.bg-danger #{sentence.kanji}
        p.bg-danger #{sentence.romaji}
        p.color-swatch !{sentence.additional}
        hr
